<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Counter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="box">
        <h1 class="header">Counter</h1>
        <h3>{{ counter }} times</h3>
        <form action='/add' method='post'>
            <button class="add2">Double Up</button>
        </form>
        <form action='/destroy_session' method='post'>
            <button class="reset">Reset</button>
        </form>
    </div>
</body>
</html>