<html>
    <body>
        <form action="/users" method="post">
            <p>Name:<input type="string" name="name"></p>
            <p>Age:<input type="number" name="age"></p>
            <button>Submit</button>
        </form>
    </body>
</html>