<html>
    <body>
        <div>
            <h2>Please Work right?</h2>
            <form action="/users" method="post">
                <p>Name: <input type="text" name="name"></p>
                <p>Age: <input type="number" age="age"></p>
                <button>Submit</button>
            </form>
        </div>
    </body>
</html>