<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car Page!!</title>
    <script src="./app.js">Yah</script>
    <link rel="stylesheet" type="text/css" href="./stylesheets/stylecar.css">
</head>
<body>
    <div class="header">
            <h1>Welcome to Automobile-R-Us!!</h1>
            <p>Here are some examples of the cars you can own if you sell us just one of your arms!! (Legs may or may not be included in the contract)</p>
        </div>
    <div class="jumbotron">
        <tr>
            <td><img src="./images/car1.jpg" alt=""></td>
            <td><img src="./images/car2.jpg" alt=""></td>
            <td><img src="./images/car3.jpg" alt=""></td>
            <td><img src="./images/car4.jpg" alt=""></td>
            <td><img src="./images/car5.jpg" alt=""></td>
            <td><img src="./images/car6.jpg" alt=""></td>
        </tr>
    </div>
</body>
</html>