<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sell Your Car Page!!</title>
    <script src="./app.js">Yah</script>
    <link rel="stylesheet" type="text/css" href="./stylesheets/form.css">
</head>
<body>
    <div class="header">
        <h1>Sell Your Car with Automobiles-R-Us!!</h1>
        <h3>Fill out the form below:</h3>
        <form action="action_page.php" method="post">
            <p>Model of Vehicle:</p>
            <input type="text" name="model">
            <p>Make of Vehicle:</p>
            <input type="text" name="make">
            <p>Year of Vehicle:</p>
            <input type="number" name="year">
            <p>Color:</p>
            <input type="text" name="color">
            <p>Asking Price:</p>
            <input type="number" name="price">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>