<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cat Page!!</title>
    <script src="./app.js">Yah</script>
    <link rel="stylesheet" type="text/css" href="./stylesheets/stylecat.css">
</head>
<body>
    <div class="header">
        <h1>Welcome To Evil Mini Sphinges!</h1>
        <p>Check out the truthful comedy!!</p>
    </div>
    <div>
        <tr>
            <td><img src="/Node_stack/cars_and_cats/images/cat1.jpg" alt=""></td>
            <td><img src="/Node_stack/cars_and_cats/images/cat2.jpg" alt=""></td>
            <td><img src="/Node_stack/cars_and_cats/images/cat3.jpg" alt=""></td>
            <td><img src="/Node_stack/cars_and_cats/images/cat4.jpg" alt=""></td>
            <td><img src="/Node_stack/cars_and_cats/images/cat5.jpg" alt=""></td>
            <td><img src="/Node_stack/cars_and_cats/images/cat6.jpg" alt=""></td>
        </tr>
    </div>
</body>
</html>