<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <body class="text-center bg-danger p-4">
        <div class="bg-success border border-dark d-inline-block p-3 text-center">
            <form action='/newform' method='post'>
                <p>Your Name: <input type='text' name='name'></p>
                <p>Dojo Location:
                <select class="form-control-sm" name="location">
                        <option>Seattle, WA</option>
                        <option>Los Angeles, CA</option>
                        <option>Silicon Valley, CA</option>
                </select> </p>
                Favorite Language:
                <select class="form-control-sm text-right" name="language">
                        <option>Javascript</option>
                        <option>Python</option>
                        <option>C++</option>
                </select> 
                <p>Comment (optional):</p>
                <textarea name="comment" cols="30" rows="10"></textarea>
                <p><button>Submit</button></p>
            </form>
        </div>
    </body>
</html>
