<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <body class="text-center bg-dark p-4">
        <div class="bg-primary border border-success d-inline-block p-3 text-center">
            <h2 class="text-underline">Submitted Information</h2>
                <p>Your Name: 
                    <%=name%></p>
                <p>Dojo Location:
                    <%=location%></p>
                <p>Favorite Language:
                    <%=language%></p>
                <p>Comment:
                    <%=comment%></p>
                <button><a href="../">Go Back</a></button>
        </div>
    </body>
</html>