<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
    <div class="header text-center">
            <h1>Welcome to Automobile-R-Us!!</h1>
            <p>Here are some examples of the cars you can own if you sell us just one of your arms!! (Legs may or may not be included in the contract)</p>
    </div>
            <div class="jumbtron text-center">
            <h2>Here are all the cars:</h2>
                <img src="images/car1.jpg" alt="">
                <hr>
                <img src="images/car2.jpg" alt="">
                <hr>
                <img src="images/car3.jpg" alt="">
                <hr>
                <img src="images/car4.jpg" alt="">
                <hr>
                <img src="images/car5.jpg" alt="">
                <hr>
                <img src="images/car6.jpg" alt="">
                <hr>
    </div>
</body>
</html>