<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Favorites</title>
</head>
<body>
    <div class="header">
            <h1>Welcome to your collection, {{user.first_name}}</h1>
            <a href="/logout/">Log Out</a>
            <a href="/books/">Home</a>
        </div>
        <div>
            <h1>Your Favorites</h1>
            <ul>
                {%for book in fav_books%}
                <li>{{book.title}}</li>
                {%endfor%}
            </ul>
        </div>
</body>
</html>