<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Don't Know Yet</title>
    <script>
        $(document).ready(function(){
            $("div").css("background-color","{{box_color}}");
        });
        </script>
</head>
<body>
    {% for x in range(0,num_times):%}
    <div class= "color_shift" style ="background-color:blue; width:300px;height:300px;margin:20px;display:inline-block;"></div>
    {%endfor%}

</body>
</html>