<style>  
  .main{
    list-style-position: inside;
    text-align: center;

  }
</style>
<div class="main">
  <h1>Restful Tasks API</h1>
<br>
<br>
<button (click)="onButtonClick()">Get All Tasks!</button>

<div *ngIf="tasks.length>0">
  <ul>
    <li *ngFor="let task of tasks">{{task.title}}
      <button (click)="onClickShow(task)">Show</button>
    </li>
    </ul>
  </div>
  <div *ngFor="let task of tasks">
    <p *ngIf="task.completed"> {{task.title}} <br>{{task.description}}</p>
  </div>
</div>

<router-outlet></router-outlet>