<style>  
  .main{
    list-style-position: inside;
    text-align: center;

  }
</style>
<div class="main">
  <h1>Restful Tasks API</h1>
<br>
<form (submit)="onSubmit()">
      <!-- use the json pipe to see how newTask changes in real time -->
      <p> {{ newTask | json }} </p>
      <p>Title:<input type="text" name="title" [(ngModel)]="newTask.title" /></p>
      <p>Description:<input type="text" name="description" [(ngModel)]="newTask.description" /></p>
      <input type="submit" value="Create Task" />
  </form>
  <div *ngIf="appear">
    <h2>Edit Tasks:</h2>
    <form (submit)="reSubmit(edit)">
          <p>Title:<input type="text" name="title" [(ngModel)]="edit.title" /></p>
          <p>Description:<input type="text" name="description" [(ngModel)]="edit.description" /></p>
          <input type="submit" value="Save Task"/>
      </form>
  </div>
<br>
  <div *ngFor="let task of tasks">
    <h3> {{task.title}} <br>{{task.description}}</h3>
    <button (click)="onClickEdit(task)">Edit</button>
    <button (click)="onClickDelete(task._id)">Delete</button>
</div>
<router-outlet></router-outlet>